.form{
  position: relative;
  padding-top: 2%;
}
.first-input{
  display: flex;
  justify-content: space-between;
}

.second-input{
  display: flex;
  justify-content: space-between;
}
.third-input{
  display: flex;
  justify-content: space-between;
}
.fourth-input{
  display: flex;
  justify-content: space-between;
}

.fifth-input{
  display: flex;
  justify-content: space-between;
}
.contact-select{
  position: relative;
  right: 6%
}
.contact-select-2{
  position: relative;
  left: 1%
}
.contact-select-3{
  position: relative;
  left: 5%
}

.contact-select-4{
  position: relative;
  right: 8%
}

.contact-select-5{
  position: relative;
  right: 15%
}


.contact-select-6{
  position: relative;
  right: 21%
}

.contact-select-main{
  position: relative;
  right: 13%
}

.btn{
  background-color: #4c68af; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 35%;
}